.test-sandbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 33%;
    left: 0;
    overflow: auto;

    padding: 0;
    margin: 0;
}

.testoutput {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    height: 33%;

    box-sizing: border-box;
    overflow: auto;
    border-top: 2px black inset;
    background-color: gray;
    color: white;
    padding: 0;
    margin: 0;
}
.testoutput .status {
    background-color: white;
    font-weight: bold;
    color: yellow;
}
.testoutput.pass {
    border-top-color: green;
}
.testoutput.pass .status {
    color: green;
}
.testoutput.fail {
    border-top-color: red;
}
.testoutput.fail .status {
    color: red;
}
.testoutput li {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.testoutput li.log:hover {
    background-color: #909080 !important; /* override .PASS and .FAIL */
}
.testoutput li.log.PASS:before {
    content: "\02713  ";
}
.testoutput li.log.PASS {
    color: #004000;
    background-color: #809080;
}
.testoutput li.log.FAIL:before {
    content: "\02717  ";
}
.testoutput li.log.FAIL {
    color: #400000;
    background-color: #908080;
}
