[submodule "third-party/node-jshint"]
    path = third-party/node-jshint
    url = https://github.com/imvu/node-jshint.git
[submodule "third-party/leprechaun-binaries"]
    path = third-party/leprechaun-binaries
    url = https://github.com/imvu/leprechaun-binaries.git
[submodule "third-party/UglifyJS2"]
    path = third-party/UglifyJS2
    url = https://github.com/imvu/UglifyJS2.git
[submodule "third-party/DefinitelyTyped"]
    path = third-party/DefinitelyTyped
    url = https://github.com/imvu/DefinitelyTyped.git
[submodule "third-party/libxdr"]
    path = third-party/libxdr
    url = https://github.com/imvu/libxdr.git
[submodule "third-party/pmxdr"]
    path = third-party/pmxdr
    url = https://github.com/imvu/pmxdr.git
