*.js    text
*.html  text
*.py    text
*.md    text
*.txt   text

# Shell scripts should *always* be LF, regardless of platfrom
s/*     text eol=lf
bin/combine            text eol=lf
bin/print-imports      text eol=lf
bin/replace-imports    text eol=lf
bin/scan-dependencies  text eol=lf
bin/test               text eol=lf
bin/verify             text eol=lf

# All third-party code should not be EOL-normalized
third-party/**  -text
node_modules/typescript/* -text
node_modules/typescript/bin/* -text
