[submodule "third-party/node-jshint"]
    path = third-party/node-jshint
    url = git@github.com:imvu/node-jshint.git

[submodule "third-party/es5-shim"]
    path = third-party/es5-shim
    url = git@github.com:imvu/es5-shim.git
