
*.bat   binary
*.cmd   binary
*.exe   binary
*.jar   binary

*.js    eol=lf
*.html  eol=lf
*.py    eol=lf
*.md    eol=lf
*.txt    eol=lf

*.man   eol=crlf

s/*     eol=lf

bin/combine           eol=lf
bin/scan-dependencies eol=lf
bin/test              eol=lf
bin/verify            eol=lf